.estrelas input[type=radio]{
	display: none;
}.estrelas label i.fa:before{
	content: '\f005';
	color: rgb(226, 187, 12);
}.estrelas  input[type=radio]:checked  ~ label i.fa:before{
	color: rgb(100, 97, 97);
}